
    h1{
        color:white;
        font-size:50px;
      }
   div{
        background:#C316B6! important;
      }
   .d1{
        padding:20px;
      }
   .xx{
        margin:40px;
      }